---
  env:
    browser: true

  globals:
    Promise: false
    angular: false

  rules:
    brace-style: [2, '1tbs', { 'allowSingleLine': true }]
    complexity: [2, 10]
    strict: [2, 'function']
    max-len: [2, 120, 4]
    no-use-before-define: [2, 'nofunc']
    quotes: [2, 'single', 'avoid-escape']
    dot-notation: [2, {'allowKeywords': true}]
    no-console: [0]
    no-underscore-dangle: [0]