<h2>Customer</h2>

<div ng-show="authenticated">
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Industry</th>
				<th>Address</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="cust in ctrl.customer" ng-animate=" 'animate' ">
				<td>{{cust.customerName}}</td>
				<td>{{cust.industry}}</td>
				<td>{{cust.address}}</td>
				<td><button id="deleteButton" ng-click="ctrl.remove(cust)" class="btn btn-danger">Delete</button></td>
			</tr>
		</tbody>
	</table>
</div>
<p ng-hide="ctrl.customer">
  The Database is empty, sorry mate!
</p>

<div ng-show="!authenticated">
	<p>Login to see all customer</p>
</div>