<div class="container">

  <form class="form-signin" role="form" ng-submit="login()">
    <h2 class="form-signin-heading">Please sign in</h2>
    <label for="username" class="sr-only">Username</label>
    <input type="text" id="username" class="form-control" placeholder="admin" ng-model="credentials.username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="password" class="form-control" placeholder="password" ng-model="credentials.password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>
  
  <div class="alert alert-danger" ng-show="error">
    There was a problem logging in. Please try again.
  </div>

</div> <!-- /container -->