<div class="container-fluid">
  <div class="row">
  
    <customer-navigation></customer-navigation>
    
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

      <h3>Customer</h3>

      <div ng-show="authenticated">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Industry</th>
              <th>Address</th>
              <th>Created On</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="c in ctrl.customer" ng-animate=" 'animate' ">
              <td>{{c.customerName}}</td>
              <td>{{c.industry}}</td>
              <td>{{c.address}}</td>
              <td>{{c.createdOn | date:'short'}}</td>
              <td><button id="deleteButton" ng-click="ctrl.remove(c)" class="btn btn-danger">Delete</button></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div ng-hide="ctrl.customer" class="alert alert-info">
        <strong>Note! </strong>The Database is empty, sorry mate!
      </div>

      <div ng-show="!authenticated">
        <p>Login to see all customer</p>
      </div>

    </div>
  </div>
</div>