<div class="container-fluid">
  <div class="row">

    <employee-navigation></employee-navigation>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

      <button id="initButton" type="submit" class="btn btn-primary" ng-show="{{ctrl.page.totalElements == 0}}" ng-click="ctrl.initEmployees()">Generate Employees</button>
  
      <div class="input-group">
        <input type="search" id="filter" ng-model="ctrl.search" class="form-control" placeholder="Search employee" required/>
        <span class="input-group-btn">
          <a class="btn btn-default" href="#/employees/search/findByFullName?fullName={{ctrl.search}}">Search</a>
        </span>
      </div>

      <div ng-show="authenticated">
        
        <ul class="pager">
          <li ng-show="{{ctrl.links.prev}}"><a href="#/employees{{ctrl.links.prev.href | routify }}">Previous</a></li>
          <li ng-show="{{ctrl.page}}">Current Page: {{ ctrl.page.number + 1 }}, Page Size: {{ctrl.page.size}}, Total elements: {{ctrl.page.totalElements}} </li>
          <li ng-show="{{ctrl.links.next}}"><a href="#/employees{{ctrl.links.next.href | routify }}">Next</a></li>
        </ul>
        
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Office</th>
              <th>Address</th>
              <th>Created On</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="employee in ctrl.employees | filter:ctrl.search" ng-animate=" 'animate' ">
              <td>{{employee.fullName}}</td>
              <td>{{employee.email}}</td>
              <td>{{employee.office}}</td>
              <td>{{employee.address}}</td>
              <td>{{employee.createdOn | date:'short'}}</td>
              <td><button id="deleteButton" ng-click="ctrl.remove(employee)" class="btn btn-danger">Delete</button></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div ng-show="{{ctrl.employees == 0}}" class="alert alert-info">
        <strong>Note! </strong>The Database is empty, sorry mate!
      </div>

      <div ng-show="!authenticated">
        <p>Login to see all employees</p>
      </div>

    </div>
  </div>
</div>